:root {
    --custom-color: #00bcb4;
    --custom2-color: #ffc700;
}


/* Section Profile List */
.list-profile {
    top: 75px;
}


.list-profile .list-group-item {
    padding: 20px 10px;
    font-size: 18px;
    border: 0;
    letter-spacing: 2px;
}


.list-profile .list-group-item.active {
    color: #171717;
    background-color: #ffffff;
    font-weight: 600;
    border-bottom: 2px solid var(--custom-color) !important;
}

.accordion {
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: var(--custom-color);
}

.accordion__label {
    color:#fff!important;
}
  
.accordion__label,
.accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: block;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.question-header{
    color: var(--custom-color);
    position: relative;
    width: 23rem;
}

.accordion__content {
    background-color: var(--custom2-color);
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}

.text-modal {
    color: var(--custom-color);
}


.span-paid {
    background-color: #32c480 !important;
}


.span-unpaid {
    background-color: #f66a77 !important;
}


.status {
    color: #977600;
}

.btn-primary {
    color: #fff;
    background-color: var(--custom-color) !important;
    border-color: var(--custom-color) !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(8 155 157 / 50%) !important;
}

.btn-outline-primary {
    color: var(--custom-color) !important;
    border-color: var(--custom-color) !important;
}

.btn-outline-primary:hover, 
.btn-outline-primary:active{
    color: #fff !important;
    background-color: var(--custom-color) !important;
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(8 155 157 / 50%) !important;
}



